<html>
  <head>
    {% if title %}
    <title>{{title}} - 研炬</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
    <div>研炬: <a href="/home">主页</a>
        {% if current_user.is_authenticated() %}
        {% if current_user.activate %}
        | <a href="{{ url_for('user', user_email = current_user.email) }}">您的资料</a>
        | <a href="{{ url_for('logout') }}">登出</a>
        {% endif %}
        {% endif %}
        {% if (not current_user.is_authenticated()) or (not current_user.activate)%}
        | <a href="{{url_for('login')}}">登录</a>
        | <a href="{{url_for('register')}}">注册</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>